.tag-container{
    width: (100% - 6px);
    background: white;
    padding: 18px 0;
    padding-left: 6px;
    margin-top: 15px;
    min-height: 201px;
    overflow: hidden;
}

.tags{
    display: flex;
    flex-wrap: wrap;
}

.tag-title{
    color: #929292;
    font-size: 17px;
    font-family: 'Montserrat';
}

.tag{
    width: 82px;
    height: 27px;
    text-decoration: none;
    color: white;
    background: #363636;
    border-radius: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    line-height: 27px;
    margin-right: 14px;
    transition: .3s ease;
    margin-top: 10px;
}

.tag:hover{
    background: #eea826;
    color: #363636;
}

.header-image{
    width: 100%;
}

.header-image img{
    width: 100%;
    height: auto;
}

.main-content.about{
   background: #F3F3F3;
   padding-left: 0;
   box-shadow: none;
}

.personal-card{
    background: white;
    height: 405px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}

.personal-photo{
    /* height: 405px;
    width: 365px; */
}

.personal-photo img{
    height: 405px;
    width: 365px;
}

.personal-info{
    padding: 0 20px;
    width: auto;
    height: 365px;
}

.social-access{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-right: 20px;
}

.social-access a{
    border-radius: 50%;
}

.social-access a img{
    height: 46px;
    width: 46px;
    border-radius: 50%;
}


/* ---------- CONTACT ------------- */


.contact-box{
    width: 100%;
}

.contact-form{
    width: 100%;
    margin-top: 50px;
}

.contact-input{
    border: none;
    border-radius: 6px;
    background: #D2D2D2;
    height: 38px;
    width: 236px;
    font-display: Lato;
    color: #363636;
    font-size: 16px;
    outline: none;
    padding-left: 4px;
}

textarea{
    background: #D2D2D2;
    border: none;
    border-radius: 6px;
    outline: none;
    font-display: Lato;
    color: #363636;
    font-size: 16px;
}

.submit-button{
    background: #EEA826;
    border: none;
    outline: none;
    height: 40px;
    width: 173px;
    color: white;
    font-family: Montserrat;
    font-size: 17px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 40px;
    transition: .3s ease-in;
}

.submit-button:hover{
    background: #363636;
}

.submit-button:active{
    transform: scale(.95);
}

/* ---------- Lateral Cards ----- */

.lateral-cards{
    width: 100%;
    background: white;
    padding-top: 6px;
}

.lateral-cards a{
    text-decoration: none;
}

.lateral-cards h5{
    color: #929292;
    font-size: 17px;
    font-family: 'Montserrat';
    margin-top: 15px;
    margin-left: 6px;
}

.lateral-card{
    width: 95%;
    margin: 10px auto;
    padding-bottom: 15px;
    /* padding-left: 5px; */
    box-shadow: 0 3px 5px #0000002a;
}

.lateral-card h6, .lateral-card p{
    margin-left: 5px;
}

.lateral-card:hover{
    box-shadow: 2px 3px 5px #4543c996;
}

.lateral-card:active{
    transform: scale(.95);
}

.lat-card-img{
    width: 100%;
    height: auto;
    margin: 0;
}

.lat-card-img img{
    width: 100%;
    height: auto;
}

.lat-card-title{
    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #363636;
    margin-top: 15px;
    margin-bottom: 10px;
}

.lat-card-text{
    font-family: Lato;
    font-size: 12px;
}

