@media screen and (max-width: 1230px)
{
    .container{
        display: block;
    }

    .lateral-content{
        margin-top: 30px;
    }

    .personal-card{
        display: block;
        height: auto;
    }

    .personal-info{
        width: 60%;
    }
}


@media screen and (max-width: 1100px)
{
    .navbar-nav{
        width: 45%;
    }
    
    .lateral-content{
        width: 410px;
        margin: 15px auto;
    }

    .main-content{width: 80%;
        margin: 15px auto;}
}


@media screen and (max-width: 768px)
{
    .navbar-nav{
        width: 50%;
    }

    .personal-info{
        width: 80%;
    }

    .personal-photo{
        width: 100%;
        margin: 0;
    }

    .personal-photo img{
        width: 100%;
        height: auto;
    }

    .lateral-content{
        width: 70%;
    }
}

@media screen and (max-width: 560px)
{
    .navbar-nav{
        width: 50%;
    }

    .personal-card p{
        font-size: 15px;
    }

    .personal-info{
        width: 80%;
    }

    .social-access{
        margin-top: 5px;
    }

    .social-access a img{
        width: 36px;
        height: 36px;
    }
}

