@font-face{

}

body{
    margin: 0;
    padding: 0;
    position: relative;
    color: #363636;
    background: #F2F2F2;

}

.navbar{
    width: 100%;
    /* background: #141414; */
    /* background: white; */
    background: #363636;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 10;
    box-shadow: 0 3px 5px #0000002a;
   /* margin: 0; */
   display: flex;
   justify-content: space-between;
   /* overflow: hidden; */
}

.navbar-nav{
    list-style: none;
    display: flex;
    width: 30%;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-item{
    display: flex;
    height: inherit;
    /* height: 60px; */
    align-items: center;
}

.nav-link{
    text-decoration: none;
    /* color: #DBDBDB; */
    /* color: #302F2F; */
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    height: inherit;
    font-size: 12px;
    line-height: 60px;
}

.nav-link:hover{
    /*color: #659b74;*/
    
    color: #eea826;
}

.dropdown-button{
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat';
    height: inherit;
    background: #363636;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
}

.dropdown-icon{
    background: url(../img/icon/drop-down-arrow.svg);
    height: 11px;
    width: 11px;
    display: block;
    background-size: 11px;
    cursor: pointer;
}

.dropdown{
    position: relative;
    /* overflow: hidden; */
    /* display: inline-block; */
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: .9;
    }
}

.dropdown:hover .dropdown-content
{
   display: block;
   animation-name: fadeIn;
}

.dropdown-content{
   display: none; 
   background: #363636;
   position: absolute;
   z-index: 3;
   min-width: 160px;
   transition: .6s ease;
   margin-top: 98px;
   opacity: .9;
   animation-duration: .8s;
}

.dropdown-content a{
    display: block;
    color: white;
    font-family: 'Montserrat';
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
}

.dropdown-content a:hover{
    color: #F4793D;
}




.container{
    width: 90%;
    margin: 0 auto;
    /* padding: 20px; */
    margin-top: 100px;
    /* box-shadow: 0 3px 5px #0000002a; */
    display: flex;
    justify-content: space-between;
}

.main-content{
    width: 65%;
    box-shadow: 0 3px 5px #0000002a;
    background: white;
    padding: 20px;
}

.lateral-content{
    width: 30%;
    box-shadow: 0 3px 5px #0000002a;
    background: white;
    height: 400px;
}


.post-img{
    width: 100%;
    margin: 40px 0;
}

img{
    width: 100%;
    height: auto;
}

p{
    color: #141414;
    font-family: 'Open Sans';
    line-height: 1.8;
    font-size: 16px;
}

.container-sfull{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.brand{
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

h1,h2,h3,h4{
    font-family: 'Montserrat';
}

h1{
    font-size: 36px;
}

hr{
    border: #141414 solid 1px;
    width: 100%;
}



.author-profile{
    width: 53px;
    border-radius: 50%;
}





/* ----------- Author Box -------------- */


.author-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author-profile img
{
    border-radius: 50%;
}

.author-info{
    display: block;
}

.author-name{
    font-size: 14px;
    text-decoration: none;
    color: #363636;
    font-weight: bold;
    font-family: 'Montserrat';
}

.post-date{
    font-family: 'Montserrat';
    font-size: 12px;
}

footer{
    background: #363636;
    min-height: 60px;
    margin-top: 100px;
}

